<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>

    <body>
        <h1>설문지</h1>
        <p>본 설문지는 실내에서 연상되는 공간과, 그 공간에 존재하는 물건에 대해 작성하는 설문지 입니다.</p>
        <p>설문지에서 개인정보는 요구하지 않으며, 설문지 응답은 연구 데이터로써 활용할 예정입니다.</p>
        <p>연구의 결과가 궁금하신 분들은 myeddie@naver.com으로 메일 보내주시면 결과를 알려드리겠습니다.</p>
        <p>설문완료까지 5분에서 10분정도 걸립니다.</p>

        <img src="static/img/warning.JPG" width="500" height="300">

        <p>1. 개인의 직관이 굉장히 중요하므로, 서로의 응답을 공유하지 말아주세요</p>
        <p>2. 본 페이지는 매우 기초적인 지식만을 가지고 작성되었으므로, 설문 진행중 뒤로가기를 누르지 말아주세요.</p>

        <br><br>

        <input type="button" name="start" value="설문 진행하기" onclick="window.location.href='first_page/'">

    </body>
</html>