<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>

    <body>
        <h1>Questionnaire</h1>
        <p>The objective of this questionnaire is to collect information about indoor objects.</p>
        <p>This questionnaire does not require any personal information.</p>
        <p>The total process should take about 5~10 minutes.</p>

        <br><br>

        <h1>Warning!</h1>

        <p>1. Please do not share your answer with anyone.</p>
        <p>2. Please do not leave this page until the process is over.</p>

        <br><br>

        <input type="button" name="start" value="Get started" onclick="window.location.href='first_page/'" style="font-size: 18px;">

    </body>
</html>
