<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Questionaire</title>
    </head>

    <body>
        <h1>Things in certain places</h1>
        <p>There are many things surrounding us.</p>
        <p>A TV in our living room, microwave in our kitchen etc.</p>
        <p>Now let's think about what kind of things we can see in certain places.</p>
        <p>please pick every object that matches the places.</p>

        <br>
        <h2>Warning</h2>
        <p>Multiple choices are accepted.</p>
        <br>
        
        <form action="" method="POST">
            {%csrf_token%}
            <label><font size="7">Kitchen</font></label><br>
            <input type="checkbox" name="Kitchen" value="oven"><font size="6">oven</font>
            <input type="checkbox" name="Kitchen" value="microwave"><font size="6">microwave</font>
            <input type="checkbox" name="Kitchen" value="toaster"><font size="6">toaster</font>
            <input type="checkbox" name="Kitchen" value="sink"><font size="6">sink</font>
            <input type="checkbox" name="Kitchen" value="refrigerator"><font size="6">refrigerator</font><br>
            <input type="checkbox" name="Kitchen" value="TV"><font size="6">TV</font>
            <input type="checkbox" name="Kitchen" value="laptop"><font size="6">laptop</font>
            <input type="checkbox" name="Kitchen" value="remote"><font size="6">remote</font>
            <input type="checkbox" name="Kitchen" value="mouse"><font size="6">mouse(for PC)</font>
            <input type="checkbox" name="Kitchen" value="keyboard"><font size="6">keyboard</font><br>
            <input type="checkbox" name="Kitchen" value="phone"><font size="6">phone</font>
            <input type="checkbox" name="Kitchen" value="couch"><font size="6">couch</font>
            <input type="checkbox" name="Kitchen" value="chair"><font size="6">chair</font>
            <input type="checkbox" name="Kitchen" value="plant"><font size="6">potted plant</font>
            <input type="checkbox" name="Kitchen" value="bed"><font size="6">bed</font><br>
            <input type="checkbox" name="Kitchen" value="table"><font size="6">table</font>
            <input type="checkbox" name="Kitchen" value="toilet"><font size="6">toilet</font>
            <input type="checkbox" name="Kitchen" value="bottle"><font size="6">bottle</font>
            <input type="checkbox" name="Kitchen" value="glass"><font size="6">wine glass</font>
            <input type="checkbox" name="Kitchen" value="cup"><font size="6">cup</font><br>
            <input type="checkbox" name="Kitchen" value="fork"><font size="6">fork</font>
            <input type="checkbox" name="Kitchen" value="knife"><font size="6">knife</font>
            <input type="checkbox" name="Kitchen" value="spoon"><font size="6">spoon</font>
            <input type="checkbox" name="Kitchen" value="bowl"><font size="6">bowl</font>
            <input type="checkbox" name="Kitchen" value="book"><font size="6">book</font><br>
            <input type="checkbox" name="Kitchen" value="clock"><font size="6">clock</font>
            <input type="checkbox" name="Kitchen" value="vase"><font size="6">vase</font>
            <input type="checkbox" name="Kitchen" value="scissors"><font size="6">scissors</font>
            <input type="checkbox" name="Kitchen" value="bear"><font size="6">teddy bear</font>
            <input type="checkbox" name="Kitchen" value="dryer"><font size="6">hair dryer</font><br>
            <input type="checkbox" name="Kitchen" value="None"><font size="6">none of the above</font><br><br>

            <label><font size="7">Bedroom</font></label><br>
            <input type="checkbox" name="Bedroom" value="oven"><font size="6">oven</font>
            <input type="checkbox" name="Bedroom" value="microwave"><font size="6">microwave</font>
            <input type="checkbox" name="Bedroom" value="toaster"><font size="6">toaster</font>
            <input type="checkbox" name="Bedroom" value="sink"><font size="6">sink</font>
            <input type="checkbox" name="Bedroom" value="refrigerator"><font size="6">refrigerator</font><br>
            <input type="checkbox" name="Bedroom" value="TV"><font size="6">TV</font>
            <input type="checkbox" name="Bedroom" value="laptop"><font size="6">laptop</font>
            <input type="checkbox" name="Bedroom" value="remote"><font size="6">remote</font>
            <input type="checkbox" name="Bedroom" value="mouse"><font size="6">mouse(for PC)</font>
            <input type="checkbox" name="Bedroom" value="keyboard"><font size="6">keyboard</font><br>
            <input type="checkbox" name="Bedroom" value="phone"><font size="6">phone</font>
            <input type="checkbox" name="Bedroom" value="couch"><font size="6">couch</font>
            <input type="checkbox" name="Bedroom" value="chair"><font size="6">chair</font>
            <input type="checkbox" name="Bedroom" value="plant"><font size="6">potted plant</font>
            <input type="checkbox" name="Bedroom" value="bed"><font size="6">bed</font><br>
            <input type="checkbox" name="Bedroom" value="table"><font size="6">table</font>
            <input type="checkbox" name="Bedroom" value="toilet"><font size="6">toilet</font>
            <input type="checkbox" name="Bedroom" value="bottle"><font size="6">bottle</font>
            <input type="checkbox" name="Bedroom" value="glass"><font size="6">wine glass</font>
            <input type="checkbox" name="Bedroom" value="cup"><font size="6">cup</font><br>
            <input type="checkbox" name="Bedroom" value="fork"><font size="6">fork</font>
            <input type="checkbox" name="Bedroom" value="knife"><font size="6">knife</font>
            <input type="checkbox" name="Bedroom" value="spoon"><font size="6">spoon</font>
            <input type="checkbox" name="Bedroom" value="bowl"><font size="6">bowl</font>
            <input type="checkbox" name="Bedroom" value="book"><font size="6">book</font><br>
            <input type="checkbox" name="Bedroom" value="clock"><font size="6">clock</font>
            <input type="checkbox" name="Bedroom" value="vase"><font size="6">vase</font>
            <input type="checkbox" name="Bedroom" value="scissors"><font size="6">scissors</font>
            <input type="checkbox" name="Bedroom" value="bear"><font size="6">teddy bear</font>
            <input type="checkbox" name="Bedroom" value="dryer"><font size="6">hair dryer</font><br>
            <input type="checkbox" name="Bedroom" value="None"><font size="6">none of the above</font><br><br>

            <label><font size="7">Livingroom</font></label><br>
            <input type="checkbox" name="Livingroom" value="oven"><font size="6">oven</font>
            <input type="checkbox" name="Livingroom" value="microwave"><font size="6">microwave</font>
            <input type="checkbox" name="Livingroom" value="toaster"><font size="6">toaster</font>
            <input type="checkbox" name="Livingroom" value="sink"><font size="6">sink</font>
            <input type="checkbox" name="Livingroom" value="refrigerator"><font size="6">refrigerator</font><br>
            <input type="checkbox" name="Livingroom" value="TV"><font size="6">TV</font>
            <input type="checkbox" name="Livingroom" value="laptop"><font size="6">laptop</font>
            <input type="checkbox" name="Livingroom" value="remote"><font size="6">remote</font>
            <input type="checkbox" name="Livingroom" value="mouse"><font size="6">mouse(for PC)</font>
            <input type="checkbox" name="Livingroom" value="keyboard"><font size="6">keyboard</font><br>
            <input type="checkbox" name="Livingroom" value="phone"><font size="6">phone</font>
            <input type="checkbox" name="Livingroom" value="couch"><font size="6">couch</font>
            <input type="checkbox" name="Livingroom" value="chair"><font size="6">chair</font>
            <input type="checkbox" name="Livingroom" value="plant"><font size="6">potted plant</font>
            <input type="checkbox" name="Livingroom" value="bed"><font size="6">bed</font><br>
            <input type="checkbox" name="Livingroom" value="table"><font size="6">table</font>
            <input type="checkbox" name="Livingroom" value="toilet"><font size="6">toilet</font>
            <input type="checkbox" name="Livingroom" value="bottle"><font size="6">bottle</font>
            <input type="checkbox" name="Livingroom" value="glass"><font size="6">wine glass</font>
            <input type="checkbox" name="Livingroom" value="cup"><font size="6">cup</font><br>
            <input type="checkbox" name="Livingroom" value="fork"><font size="6">fork</font>
            <input type="checkbox" name="Livingroom" value="knife"><font size="6">knife</font>
            <input type="checkbox" name="Livingroom" value="spoon"><font size="6">spoon</font>
            <input type="checkbox" name="Livingroom" value="bowl"><font size="6">bowl</font>
            <input type="checkbox" name="Livingroom" value="book"><font size="6">book</font><br>
            <input type="checkbox" name="Livingroom" value="clock"><font size="6">clock</font>
            <input type="checkbox" name="Livingroom" value="vase"><font size="6">vase</font>
            <input type="checkbox" name="Livingroom" value="scissors"><font size="6">scissors</font>
            <input type="checkbox" name="Livingroom" value="bear"><font size="6">teddy bear</font>
            <input type="checkbox" name="Livingroom" value="dryer"><font size="6">hair dryer</font><br>
            <input type="checkbox" name="Livingroom" value="None"><font size="6">none of the above</font><br><br>

            <label><font size="7">Bathroom</font></label><br>
            <input type="checkbox" name="Bathroom" value="oven"><font size="6">oven</font>
            <input type="checkbox" name="Bathroom" value="microwave"><font size="6">microwave</font>
            <input type="checkbox" name="Bathroom" value="toaster"><font size="6">toaster</font>
            <input type="checkbox" name="Bathroom" value="sink"><font size="6">sink</font>
            <input type="checkbox" name="Bathroom" value="refrigerator"><font size="6">refrigerator</font><br>
            <input type="checkbox" name="Bathroom" value="TV"><font size="6">TV</font>
            <input type="checkbox" name="Bathroom" value="laptop"><font size="6">laptop</font>
            <input type="checkbox" name="Bathroom" value="remote"><font size="6">remote</font>
            <input type="checkbox" name="Bathroom" value="mouse"><font size="6">mouse(for PC)</font>
            <input type="checkbox" name="Bathroom" value="keyboard"><font size="6">keyboard</font><br>
            <input type="checkbox" name="Bathroom" value="phone"><font size="6">phone</font>
            <input type="checkbox" name="Bathroom" value="couch"><font size="6">couch</font>
            <input type="checkbox" name="Bathroom" value="chair"><font size="6">chair</font>
            <input type="checkbox" name="Bathroom" value="plant"><font size="6">potted plant</font>
            <input type="checkbox" name="Bathroom" value="bed"><font size="6">bed</font><br>
            <input type="checkbox" name="Bathroom" value="table"><font size="6">table</font>
            <input type="checkbox" name="Bathroom" value="toilet"><font size="6">toilet</font>
            <input type="checkbox" name="Bathroom" value="bottle"><font size="6">bottle</font>
            <input type="checkbox" name="Bathroom" value="glass"><font size="6">wine glass</font>
            <input type="checkbox" name="Bathroom" value="cup"><font size="6">cup</font><br>
            <input type="checkbox" name="Bathroom" value="fork"><font size="6">fork</font>
            <input type="checkbox" name="Bathroom" value="knife"><font size="6">knife</font>
            <input type="checkbox" name="Bathroom" value="spoon"><font size="6">spoon</font>
            <input type="checkbox" name="Bathroom" value="bowl"><font size="6">bowl</font>
            <input type="checkbox" name="Bathroom" value="book"><font size="6">book</font><br>
            <input type="checkbox" name="Bathroom" value="clock"><font size="6">clock</font>
            <input type="checkbox" name="Bathroom" value="vase"><font size="6">vase</font>
            <input type="checkbox" name="Bathroom" value="scissors"><font size="6">scissors</font>
            <input type="checkbox" name="Bathroom" value="bear"><font size="6">teddy bear</font>
            <input type="checkbox" name="Bathroom" value="dryer"><font size="6">hair dryer</font><br>
            <input type="checkbox" name="Bathroom" value="None"><font size="6">none of the above</font><br><br>

            <label><font size="7">Diningroom</font></label><br>
            <input type="checkbox" name="Diningroom" value="oven"><font size="6">oven</font>
            <input type="checkbox" name="Diningroom" value="microwave"><font size="6">microwave</font>
            <input type="checkbox" name="Diningroom" value="toaster"><font size="6">toaster</font>
            <input type="checkbox" name="Diningroom" value="sink"><font size="6">sink</font>
            <input type="checkbox" name="Diningroom" value="refrigerator"><font size="6">refrigerator</font><br>
            <input type="checkbox" name="Diningroom" value="TV"><font size="6">TV</font>
            <input type="checkbox" name="Diningroom" value="laptop"><font size="6">laptop</font>
            <input type="checkbox" name="Diningroom" value="remote"><font size="6">remote</font>
            <input type="checkbox" name="Diningroom" value="mouse"><font size="6">mouse(for PC)</font>
            <input type="checkbox" name="Diningroom" value="keyboard"><font size="6">keyboard</font><br>
            <input type="checkbox" name="Diningroom" value="phone"><font size="6">phone</font>
            <input type="checkbox" name="Diningroom" value="couch"><font size="6">couch</font>
            <input type="checkbox" name="Diningroom" value="chair"><font size="6">chair</font>
            <input type="checkbox" name="Diningroom" value="plant"><font size="6">potted plant</font>
            <input type="checkbox" name="Diningroom" value="bed"><font size="6">bed</font><br>
            <input type="checkbox" name="Diningroom" value="table"><font size="6">table</font>
            <input type="checkbox" name="Diningroom" value="toilet"><font size="6">toilet</font>
            <input type="checkbox" name="Diningroom" value="bottle"><font size="6">bottle</font>
            <input type="checkbox" name="Diningroom" value="glass"><font size="6">wine glass</font>
            <input type="checkbox" name="Diningroom" value="cup"><font size="6">cup</font><br>
            <input type="checkbox" name="Diningroom" value="fork"><font size="6">fork</font>
            <input type="checkbox" name="Diningroom" value="knife"><font size="6">knife</font>
            <input type="checkbox" name="Diningroom" value="spoon"><font size="6">spoon</font>
            <input type="checkbox" name="Diningroom" value="bowl"><font size="6">bowl</font>
            <input type="checkbox" name="Diningroom" value="book"><font size="6">book</font><br>
            <input type="checkbox" name="Diningroom" value="clock"><font size="6">clock</font>
            <input type="checkbox" name="Diningroom" value="vase"><font size="6">vase</font>
            <input type="checkbox" name="Diningroom" value="scissors"><font size="6">scissors</font>
            <input type="checkbox" name="Diningroom" value="bear"><font size="6">teddy bear</font>
            <input type="checkbox" name="Diningroom" value="dryer"><font size="6">hair dryer</font><br>
            <input type="checkbox" name="Diningroom" value="None"><font size="6">none of the above</font><br><br>

            <label><font size="7">Personal_room</font></label><br>
            <input type="checkbox" name="Personal_room" value="oven"><font size="6">oven</font>
            <input type="checkbox" name="Personal_room" value="microwave"><font size="6">microwave</font>
            <input type="checkbox" name="Personal_room" value="toaster"><font size="6">toaster</font>
            <input type="checkbox" name="Personal_room" value="sink"><font size="6">sink</font>
            <input type="checkbox" name="Personal_room" value="refrigerator"><font size="6">refrigerator</font><br>
            <input type="checkbox" name="Personal_room" value="TV"><font size="6">TV</font>
            <input type="checkbox" name="Personal_room" value="laptop"><font size="6">laptop</font>
            <input type="checkbox" name="Personal_room" value="remote"><font size="6">remote</font>
            <input type="checkbox" name="Personal_room" value="mouse"><font size="6">mouse(for PC)</font>
            <input type="checkbox" name="Personal_room" value="keyboard"><font size="6">keyboard</font><br>
            <input type="checkbox" name="Personal_room" value="phone"><font size="6">phone</font>
            <input type="checkbox" name="Personal_room" value="couch"><font size="6">couch</font>
            <input type="checkbox" name="Personal_room" value="chair"><font size="6">chair</font>
            <input type="checkbox" name="Personal_room" value="plant"><font size="6">potted plant</font>
            <input type="checkbox" name="Personal_room" value="bed"><font size="6">bed</font><br>
            <input type="checkbox" name="Personal_room" value="table"><font size="6">table</font>
            <input type="checkbox" name="Personal_room" value="toilet"><font size="6">toilet</font>
            <input type="checkbox" name="Personal_room" value="bottle"><font size="6">bottle</font>
            <input type="checkbox" name="Personal_room" value="glass"><font size="6">wine glass</font>
            <input type="checkbox" name="Personal_room" value="cup"><font size="6">cup</font><br>
            <input type="checkbox" name="Personal_room" value="fork"><font size="6">fork</font>
            <input type="checkbox" name="Personal_room" value="knife"><font size="6">knife</font>
            <input type="checkbox" name="Personal_room" value="spoon"><font size="6">spoon</font>
            <input type="checkbox" name="Personal_room" value="bowl"><font size="6">bowl</font>
            <input type="checkbox" name="Personal_room" value="book"><font size="6">book</font><br>
            <input type="checkbox" name="Personal_room" value="clock"><font size="6">clock</font>
            <input type="checkbox" name="Personal_room" value="vase"><font size="6">vase</font>
            <input type="checkbox" name="Personal_room" value="scissors"><font size="6">scissors</font>
            <input type="checkbox" name="Personal_room" value="bear"><font size="6">teddy bear</font>
            <input type="checkbox" name="Personal_room" value="dryer"><font size="6">hair dryer</font><br>
            <input type="checkbox" name="Personal_room" value="None"><font size="6">none of the above</font><br><br>

            <label><font size="7">Hallway</font></label><br>
            <input type="checkbox" name="Hallway" value="oven"><font size="6">oven</font>
            <input type="checkbox" name="Hallway" value="microwave"><font size="6">microwave</font>
            <input type="checkbox" name="Hallway" value="toaster"><font size="6">toaster</font>
            <input type="checkbox" name="Hallway" value="sink"><font size="6">sink</font>
            <input type="checkbox" name="Hallway" value="refrigerator"><font size="6">refrigerator</font><br>
            <input type="checkbox" name="Hallway" value="TV"><font size="6">TV</font>
            <input type="checkbox" name="Hallway" value="laptop"><font size="6">laptop</font>
            <input type="checkbox" name="Hallway" value="remote"><font size="6">remote</font>
            <input type="checkbox" name="Hallway" value="mouse"><font size="6">mouse(for PC)</font>
            <input type="checkbox" name="Hallway" value="keyboard"><font size="6">keyboard</font><br>
            <input type="checkbox" name="Hallway" value="phone"><font size="6">phone</font>
            <input type="checkbox" name="Hallway" value="couch"><font size="6">couch</font>
            <input type="checkbox" name="Hallway" value="chair"><font size="6">chair</font>
            <input type="checkbox" name="Hallway" value="plant"><font size="6">potted plant</font>
            <input type="checkbox" name="Hallway" value="bed"><font size="6">bed</font><br>
            <input type="checkbox" name="Hallway" value="table"><font size="6">table</font>
            <input type="checkbox" name="Hallway" value="toilet"><font size="6">toilet</font>
            <input type="checkbox" name="Hallway" value="bottle"><font size="6">bottle</font>
            <input type="checkbox" name="Hallway" value="glass"><font size="6">wine glass</font>
            <input type="checkbox" name="Hallway" value="cup"><font size="6">cup</font><br>
            <input type="checkbox" name="Hallway" value="fork"><font size="6">fork</font>
            <input type="checkbox" name="Hallway" value="knife"><font size="6">knife</font>
            <input type="checkbox" name="Hallway" value="spoon"><font size="6">spoon</font>
            <input type="checkbox" name="Hallway" value="bowl"><font size="6">bowl</font>
            <input type="checkbox" name="Hallway" value="book"><font size="6">book</font><br>
            <input type="checkbox" name="Hallway" value="clock"><font size="6">clock</font>
            <input type="checkbox" name="Hallway" value="vase"><font size="6">vase</font>
            <input type="checkbox" name="Hallway" value="scissors"><font size="6">scissors</font>
            <input type="checkbox" name="Hallway" value="bear"><font size="6">teddy bear</font>
            <input type="checkbox" name="Hallway" value="dryer"><font size="6">hair dryer</font><br>
            <input type="checkbox" name="Hallway" value="None"><font size="6">none of the above</font><br><br>
            <br>
            <br>
            <br>
            <input type="submit" value="Submit" style="font-size: 18px;">
        </form>
    </body>
</html>